body {
    background-color: lightgreen; /* Light green background color */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em 0;
}
