/* Body styling with a Lord of the Rings background */
body {
    background-image: url('/images/lotr_background.jpg'); /* Ensure you have this image in the static/images folder */
    background-size: cover;
    background-attachment: fixed;
    color: #f5f5dc; /* Beige color for text */
    font-family: 'Cinzel', serif; /* Fancy font, you can choose a different one if you prefer */
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Heading styling */
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
}

/* Link styling */
a {
    color: #d4af37; /* Gold color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* New styles for LOTR-themed table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    text-align: left;
    background-color: transparent;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;

}

td {
    font-size: 13 px; /* Set font size for table data */
}

th {
    background-color: #432616;/* #6b4226*/; /* Dark brown color for the header */
    color: white; /* White text for better contrast */
    font-size: 18px; /* Set font size for table headers */
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Light transparent white for hover effect */
}