<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<a th:href="@{/v1/homelibrary}">Home</a>
<head>
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet"> <!-- Link to the Cinzel font -->
</head>
<body>
    <h1>Authors</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.firstName}+' '+${author.lastName}"></td>
            <td support available soon></td>
        </tr>
        </tbody>
    </table>
    <h1></h1>
    <!-- Include the footer fragment -->
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>