<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<a th:href="@{/v1/homelibrary}">Home</a>
<head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet"> <!-- Link to the Cinzel font -->
</head>
<body>
    <h1>Books</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.language}"></td>
            <td>
                <span th:each="genre, iterStat : ${book.genre}" th:text="${genre} + (!${iterStat.last} ? ', ' : '')"></span>
            </td>
            <td th:text="${book.description}"></td>
            <td>
                <a th:href="@{/v1/homelibrary/books/{id}(id=${book.id})}"></a>
                <form th:action="@{/v1/homelibrary/books/{id}/delete(id=${book.id})}" method="delete" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h1></h1>
    <!-- Include the footer fragment -->
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>