<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet"> <!-- Link to the Cinzel font -->
</head>
<body>
    <h1>Welcome to the Home Library</h1>
    <p>Select a link below to navigate to the respective subpage:</p>
    <ul>
        <li><a th:href="@{/v1/homelibrary/books}">Books</a></li>
        <li><a th:href="@{/v1/homelibrary/authors}">Authors</a></li>
    </ul>
    <!-- Include the footer fragment -->
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>